<div class="about">
    <h1 class="team">Our Team</h1>
    <p class="tag">People Behind <b> Our Success</b></p>
    <div class="images">
        <div class="row">
            <div class="col m4 s12">
                <div class="image z-depth-3">
                    <img src="../../assets/team/first.jpg" alt="">
                </div>
            </div>
            <div class="col m4 s12">
                <div class="image z-depth-3">
                    <img src="../../assets/team/second.jpg" alt="">
                </div>
            </div>
            <div class="col m4 s12">
                <div class="image z-depth-3">
                    <img src="../../assets/team/third.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
