<div class="navbar z-depth-3">
    <div class="logo">
        <h1>B</h1>
    </div>
    <div class="links">
        <ul>
            <li routerLink="/admin/messages" class="tooltipped" data-position="right" data-tooltip="Messages"><i class="small material-icons">message</i>
            </li>
            <li  routerLink="/admin/products" class="tooltipped" data-position="right" data-tooltip="Products"><i class="small material-icons">archive</i></li>
            <li></li>
            <li   (click)="logout()" class="tooltipped" data-position="right" data-tooltip="Logout"><i class="small material-icons">exit_to_app</i></li>
        </ul>
    </div>
</div>
