<div class="download">
    <h1>Download & <b>let's get started.</b></h1>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut, voluptas architecto nobis fugit modi in
        veritatis. Quis, consectetur sint, repellendus sed molestias magni incidunt, aperiam temporibus accusamus
        tempora quae. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Enim officia maxime illo fuga repellat esse earum sequi aperiam quisquam
        alias totam dicta adipisci laboriosam magnam dolorum consequatur, ducimus modi cumque?</p> -->
    <a href="https://firebasestorage.googleapis.com/v0/b/bugpredator.appspot.com/o/bugpredator.exe?alt=media&token=403b2eca-0911-4828-ae9a-b1027f0d2c85" class="waves-effect waves-light btn-large white" ><i class="material-icons right">file_download</i>Download</a>
</div>
